<div class="container md:max-w-[80%] mx-auto">
  <h2 class="text-3xl md:text-4xl font-thin py-2 max-w-fit">
    Calculate your Signal-to-Noise ratio!
  </h2>
  <p>
    This is a simple online calculator for your Signal-to-Noise (SNR) ratio. To
    do so you have to enter the average brightness of your target and the
    background of one of your light frames. This is best done in your favourite
    tool for editing astro-images. The same thing is required for one of your
    dark and bias frames. The last step is to enter your cameras read noise
    (which you can find on the manufacturers website) as well as the settings
    you used for your session.
  </p>
  <div class="pt-3 md:flex grow">
    <div class="pb-3 md:pb-0 min-w-fit">
      <app-frame-box />
    </div>
    <div class="md:pl-3 grow">
      <app-result-box title="Result" />
    </div>
  </div>
</div>
