<div class="container md:max-w-[95%] lg:max-w-[90%] mx-auto">
  <h2 class="text-4xl font-thin py-2 max-w-fit">
    Calculate your Signal-to-Noise ratio!
  </h2>
  <p class="max-w-2xl">
    Lorem ipsum dolor sit amet bla blu idk what the actualy text is Lorem ipsum
    dolor sit amet bla blu idk what the actualy text is Lorem ipsum dolor sit
    amet bla blu idk what the actualy text is
  </p>
  <div class="pt-3 md:flex grow">
    <div class="pb-3 md:pb-0 min-w-fit">
      <app-frame-box />
    </div>
    <div class="md:pl-3 grow">
      <app-result-box title="Result" />
      <app-result-box title="Result" />
      <app-result-box title="Result" />
    </div>
  </div>
</div>
